$s2bs4-selection-clear-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 16 16'><path fill='#{$custom-select-color}' d='M1 12l4-4-4-4 3-3 4 4 4-4 3 3-4 4 4 4-3 3-4-4-4 4z'/></svg>") !default;

// `font-family` fallback. This is needed because `$custom-select-font-family`
// defaults to null, but this theme needs an existing value to override
// Select2's `font-family: sans-serif` rule
$s2bs4-font-family: $custom-select-font-family !default;
$s2bs4-font-family: $font-family-base !default;

// basic
.select2-container {
  display: block;

  *:focus {
    outline: 0;
  }
}

// input-group
.input-group .select2-container--bootstrap4 {
  flex-grow: 1;
}

// for prepended input
.input-group-prepend ~ .select2-container--bootstrap4 .select2-selection {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// for appended input
.input-group > .select2-container--bootstrap4:not(:last-child) .select2-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--bootstrap4 {
  // input box
  .select2-selection {
    width: 100%;
    min-height: $custom-select-height;
    padding: $custom-select-padding-y ($custom-select-padding-x + $custom-select-indicator-padding) $custom-select-padding-y $custom-select-padding-x;
    font-family: $s2bs4-font-family;
    @include font-size($custom-select-font-size);
    font-weight: $custom-select-font-weight;
    line-height: $custom-select-line-height;
    color: $custom-select-color;
    vertical-align: middle;
    background-color: $custom-select-bg;
    border: $custom-select-border-width solid $custom-select-border-color;
    @include border-radius($custom-select-border-radius, 0);
    @include box-shadow($custom-select-box-shadow);
    @include transition($custom-forms-transition);
  }

  &.select2-container--focus {
    .select2-selection {
      border-color: $custom-select-focus-border-color;
      box-shadow: $custom-select-focus-box-shadow;
    }
  }

  &.select2-container--open {
    &.select2-container--above {
      .select2-selection {
        @include border-top-radius(0);
      }
    }

    &.select2-container--below {
      .select2-selection {
        @include border-bottom-radius(0);
      }
    }
  }

  &.select2-container--disabled {
    .select2-selection,
    .select2-search__field {
      cursor: not-allowed;
      background-color: $custom-select-disabled-bg;
      border-color: $custom-select-border-color;
      box-shadow: none;
    }
  }

  // validated input box
  // stylelint-disable selector-no-qualifying-type
  select.is-invalid ~ & .select2-selection,
  form.was-validated select:invalid ~ & .select2-selection {
    border-color: $danger;
  }

  select.is-valid ~ & .select2-selection,
  form.was-validated select:valid ~ & .select2-selection {
    border-color: $success;
  }
  // stylelint-enable selector-no-qualifying-type

  .select2-dropdown {
    border-color: $custom-select-border-color;
    border-radius: 0; // overload select2.css

    &.select2-dropdown--below {
      @include border-bottom-radius($custom-select-border-radius);
    }

    &.select2-dropdown--above {
      @include border-top-radius($custom-select-border-radius);
    }
  }

  .select2-results__option {
    padding: $custom-select-padding-y $custom-select-padding-x;

    &--selected {
      color: color-yiq($custom-select-disabled-bg);
      background-color: $custom-select-disabled-bg;
    }

    &--disabled {
      color: $custom-select-disabled-color;
    }

    // hover
    &--highlighted {
      color: color-yiq($primary);
      background-color: $primary;
    }

    &--group {
      padding: 0;

      .select2-results__options--nested .select2-results__option {
        padding-left: $custom-select-padding-x;
      }
    }
  }

  // vertical overflow
  .select2-results > .select2-results__options {
    max-height: 15em;
    overflow-y: auto;
  }

  .select2-results__group {
    display: list-item;
    padding: $custom-select-padding-y $custom-select-padding-x / 2;
    color: $secondary;
  }

  // clear all button
  .select2-selection__clear {
    float: right;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: subtract($custom-select-line-height * 1em, 1em) / 2 0 0;
    font-weight: 700;
    line-height: (12em / 16);
    color: $custom-select-color;
    background: darken($custom-select-bg, 10%) escape-svg($s2bs4-selection-clear-icon) center no-repeat !important; // stylelint-disable-line declaration-no-important
    border-radius: 100%;

    // hide default &times; entity
    span {
      display: none;
    }

    &:hover {
      background-color: darken($custom-select-bg, 15%) !important; // stylelint-disable-line declaration-no-important
    }
  }

  // no results message
  .select2-results__message {
    color: $text-muted;
  }
}
