// basic
.select2-container {
  display: block;

  *:focus {
    outline: 0;
  }
}

// input-group
.input-group .select2-container--bootstrap4 {
  flex-grow: 1;
}

// for prepended input
.input-group-prepend ~ .select2-container--bootstrap4 .select2-selection {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// for appended input
.input-group > .select2-container--bootstrap4:not(:last-child) .select2-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--bootstrap4 {
  // input box
  .select2-selection {
    width: 100%;
    min-height: $select2-bootstrap4-height;
    padding: $select2-bootstrap4-padding-y ($select2-bootstrap4-padding-x + $select2-bootstrap4-indicator-padding) $select2-bootstrap4-padding-y $select2-bootstrap4-padding-x;
    font-family: $select2-bootstrap4-font-family;
    @include font-size($select2-bootstrap4-font-size);
    font-weight: $select2-bootstrap4-font-weight;
    line-height: $select2-bootstrap4-line-height;
    color: $select2-bootstrap4-color;
    vertical-align: middle;
    background-color: $select2-bootstrap4-bg;
    border: $select2-bootstrap4-border-width solid $select2-bootstrap4-border-color;
    @include border-radius($select2-bootstrap4-border-radius, 0);
    @include box-shadow($select2-bootstrap4-box-shadow);
    @include transition($select2-bootstrap4-transition);
  }

  &.select2-container--focus {
    .select2-selection {
      border-color: $select2-bootstrap4-focus-border-color;
      box-shadow: $select2-bootstrap4-focus-box-shadow;
    }
  }

  &.select2-container--open {
    &.select2-container--above {
      .select2-selection {
        @include border-top-radius(0);
      }
    }

    &.select2-container--below {
      .select2-selection {
        @include border-bottom-radius(0);
      }
    }
  }

  &.select2-container--disabled {
    .select2-selection,
    .select2-search__field {
      cursor: not-allowed;
      background-color: $select2-bootstrap4-disabled-bg;
      border-color: $select2-bootstrap4-border-color;
      box-shadow: none;
    }
  }

  // validated input box
  // stylelint-disable selector-no-qualifying-type
  select.is-invalid ~ & .select2-selection,
  form.was-validated select:invalid ~ & .select2-selection {
    border-color: $danger;

    &:focus {
      border-color: $danger;
      box-shadow: 0 0 0 $select2-bootstrap4-focus-width rgba($danger, .25);
    }
  }

  select.is-valid ~ & .select2-selection,
  form.was-validated select:valid ~ & .select2-selection {
    border-color: $success;

    &:focus {
      border-color: $success;
      box-shadow: 0 0 0 $select2-bootstrap4-focus-width rgba($danger, .25);
    }
  }
  // stylelint-enable selector-no-qualifying-type

  .select2-dropdown {
    border-color: $select2-bootstrap4-border-color;
    border-radius: 0; // overload select2.css

    &.select2-dropdown--below {
      @include border-bottom-radius($select2-bootstrap4-border-radius);
    }

    &.select2-dropdown--above {
      @include border-top-radius($select2-bootstrap4-border-radius);
    }
  }

  .select2-results__option {
    padding: $select2-bootstrap4-padding-y $select2-bootstrap4-padding-x;

    &--selected {
      color: color-yiq($select2-bootstrap4-disabled-bg);
      background-color: $select2-bootstrap4-disabled-bg;
    }

    &--disabled {
      color: $select2-bootstrap4-disabled-color;
    }

    // hover
    &--highlighted {
      color: color-yiq($select2-bootstrap4-highlighted-bg);
      background-color: $select2-bootstrap4-highlighted-bg;
    }

    &--group {
      padding: 0;

      .select2-results__options--nested .select2-results__option {
        padding-left: $select2-bootstrap4-padding-x;
      }
    }
  }

  // vertical overflow
  .select2-results > .select2-results__options {
    max-height: $select2-bootstrap4-dropdown-height;
    overflow-y: auto;
  }

  .select2-results__group {
    display: list-item;
    padding: $select2-bootstrap4-padding-y $select2-bootstrap4-padding-x / 2;
    color: $select2-bootstrap4-disabled-color;
  }

  // clear all button
  .select2-selection__clear {
    float: right;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: subtract($select2-bootstrap4-line-height * 1em, 1em) / 2 0 0;
    font-weight: 700;
    line-height: (12em / 16);
    color: $select2-bootstrap4-color;
    background: darken($select2-bootstrap4-bg, 10%) escape-svg($select2-bootstrap4-selection-clear-icon) center no-repeat !important; // stylelint-disable-line declaration-no-important
    border-radius: 100%;

    // hide default &times; entity
    span {
      display: none;
    }

    &:hover {
      background-color: darken($select2-bootstrap4-bg, 15%) !important; // stylelint-disable-line declaration-no-important
    }
  }

  // no results message
  .select2-results__message {
    color: $text-muted;
  }
}
