.select2-container--bootstrap4 {
  .select2-selection--multiple {
    padding: 0 $select2-bootstrap4-padding-x;

    // input box
    .select2-selection__rendered {
      margin: 0;
    }

    .select2-search--inline {
      display: inline-block;
    }

    // each selected item in input box
    .select2-selection__choice {
      position: relative;
      display: inline-block;
      padding: 0 5px 0 21px;
      margin: $select2-bootstrap4-padding-y $select2-bootstrap4-padding-x / 2 $select2-bootstrap4-padding-y 0;
      color: color-yiq($select2-bootstrap4-selection-choice-bg);
      vertical-align: top;
      cursor: pointer;
      background-color: $select2-bootstrap4-selection-choice-bg;
      @include border-radius($select2-bootstrap4-selection-choice-border-radius);
    }

    .select2-selection__choice__display {
      padding: 0 5px;
    }

    .select2-search__field {
      height: add($select2-bootstrap4-line-height * 1em, $select2-bootstrap4-padding-y * 2);
      padding-top: $select2-bootstrap4-padding-y;
      margin: 0;
      font-family: $select2-bootstrap4-font-family;
      line-height: $select2-bootstrap4-line-height;
      color: $select2-bootstrap4-color;
    }

    // x button of each selected item in input box
    .select2-selection__choice__remove {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 5px;
      margin: 0;
      font-weight: 700;
      color: fade-out(color-yiq($select2-bootstrap4-selection-choice-bg), .25);
      cursor: pointer;
      background: none;
      border: none;
      border-right: 1px solid lighten($select2-bootstrap4-selection-choice-bg, 20%);

      &:hover {
        color: fade-out(color-yiq($select2-bootstrap4-selection-choice-bg), .15);
      }
    }

    &.select2-selection--clearable {
      padding-right: 32px;
    }

    .select2-selection__clear {
      position: absolute;
      top: $select2-bootstrap4-padding-y;
      right: $select2-bootstrap4-padding-x;
    }
  }

  // hide x button of each selected item in disabled input box
  &.select2-container--disabled {
    .select2-selection--multiple {
      .select2-selection__choice {
        padding-left: 5px;
        cursor: not-allowed;
        // stylelint-disable selector-max-class
        .select2-selection__choice__remove {
          display: none;
        }
        // stylelint-enable selector-max-class
      }
    }
  }
}
