.select2-container--bootstrap4 {
  .select2-selection--single {
    background: $custom-select-bg $custom-select-background;

    .select2-selection__placeholder {
      color: $input-placeholder-color;
    }

    // selected item
    .select2-selection__rendered {
      padding: 0;
      color: $custom-select-color;
    }
  }

  // search box
  .select2-search--dropdown {
    .select2-search__field {
      padding: $custom-select-padding-y $custom-select-padding-x;
      color: $custom-select-color;
      border: $custom-select-border-width solid $custom-select-border-color;
      @include border-radius($custom-select-border-radius);
      @include form-control-focus(true);
    }
  }
}
